*{
    padding: 0px;
    margin: 0px;
   
}
body{
    background-color: rgb(192, 216, 237);
}
header{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px 0px;
}

nav{
    background-color: rgb(108, 114, 125);
   }
nav ul{
    padding: 10px 0px;
    text-align:center;
    margin-right: 50px;
   }
nav ul li{
    display: inline;
    margin:0px 40px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2px;
}
section{
    background-color: rgb(234, 246, 249);
    margin: 30px;
    padding: 20px;
    text-align: justify;
}
section p{
    margin: 10px 0px;
}
section ul{
    margin: 15px;
}
footer{
    background-color: black;
    color: aliceblue;
    margin: 0px;
    padding: 30px;
}